.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(15px); /* Şüşə effekti */
    padding: 50px;
    border-radius: 10px;
    width: 400px;
    border: 1px solid #b8860b;
    box-shadow: 0 20px 50px rgba(0,0,0,0.15);
    text-align: center;
}

.login-card h2 {
    font-size: 28px;
    color: #3e2723;
    margin-bottom: 30px;
}

.input-group {
    text-align: left;
    margin-bottom: 25px;
}

.input-group label {
    display: block;
    font-family: 'Marcellus', serif;
    font-size: 14px;
    margin-bottom: 8px;
    color: #8b6508;
}

.input-group input {
    width: 100%;
    padding: 14px;
    border: 1px solid #d2b48c;
    background: rgba(255, 255, 255, 0.5);
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    border-radius: 4px;
}

.input-group input:focus {
    outline: none;
    border-color: #3e2723;
    background: white;
}

.login-btn {
    width: 100%;
    padding: 15px;
    background: #3e2723;
    color: white;
    font-family: 'Marcellus', serif;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #b8860b;
}
